.registration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.registration-wrapper p {
  font-weight: 400;
  display: block;
  margin: 0 0 3px;
  letter-spacing: 0.5px;
}

.registration-wrapper input {
  color: lightgray;
  width: 100%;
  font-size: 1.3rem;
  padding: 8px 12px;
  box-sizing: border-box;
}

.registration-wrapper button {
  font-size: 1.6em;
  font-weight: 700;
  background: green;
  padding: 0.8rem 2.8rem;
}

.button {
  padding: 15px 0px;
}
