.todo {
  display: flex;
  padding: 0.3rem 1rem;
  background-color: rgba(255, 255, 255, 0.07);
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 440px) {
  .todo {
    flex-direction: column;
    align-items: unset;
  }
}

.todo form {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 440px) {
  .todo form {
    flex-direction: column;
  }
}

.todoTask {
  display: flex;
  cursor: default;
}
.todoTaskInput {
  margin-top: 0px;
  cursor: pointer;
  justify-content: space-around;
  width: 17px;
  height: 17px;
  word-break: break-all;
}

.todoComplated {
  display: flex;
  padding: 0.3rem 1rem;
  background-color: rgba(255, 255, 255, 0.07);
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 10px 10px;
  transition: opacity 300ms ease-in-out;
  transition-delay: 200ms;
  opacity: 0.5;
}
.todoButtons {
  justify-content: center;
  display: flex;
  flex-shrink: 0;
}
.todoButtonsEdit {
  cursor: pointer;
  box-shadow: 3px 3px 3px -2px #795548;
}
.todoButtonsRemove {
  cursor: pointer;
  box-shadow: 3px 3px 3px -2px #795548;
}
