.todo {
  display: flex;
  padding: 1.1rem 0rem;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  transition: opacity 500ms ease-in-out;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 20px 20px 20px;
}

.todo_task {
  display: flex;
  cursor: default;
}

.todo_task__input {
  cursor: pointer;
  justify-content: space-around;
  width: 17px;
  height: 17px;
  word-break: break-all;
}

.todo.complated {
  transition: opacity 300ms ease-in-out;
  transition-delay: 200ms;
  opacity: 0.5;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

.todo_buttons {
  flex-shrink: 0;
  padding-left: 0.7em;
  margin-left: auto;
}

.todo_buttons__edit {
  cursor: pointer;
}
.todo_buttons__remove {
  cursor: pointer;
}
