.btn {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff8f;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background: #080710;
  transition: 0.25s;
}
