.heroSection {
  height: 100vh;
  padding-top: 80px;
  background: url(../../img/forest.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.heroSection h1 {
  text-align: center;
  display: block;
  font-size: 52px;
  line-height: 62px;
  font-weight: 800;
  clear: both;
  color: #eceded;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0.67em 0;
}
.heroContainer {
  display: flex;
  flex-direction: column;
}
.heroContent {
  box-sizing: inherit;
}
.heroContent p {
  margin: 0;
  margin-bottom: 32px;
  color: #9ca9b3;
  font-size: 20px;
  line-height: 30px;
  filter: none;
}
.heroContent span {
  color: #5658dd;
}
.containerXs {
  text-align: center;
  max-width: 620px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
.buttonGroup {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.buttonGroup a {
  display: inline-flex;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  padding: 11px 31px;
  margin: 8px;
  height: 27px;
  text-decoration: none !important;
  color: #25282c;
  background-color: #eceded;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  letter-spacing: inherit;
  white-space: nowrap;
}
.buttonGroup :first-child {
  color: #eceded;
  background-color: #6163ff;
}
.buttonGroup :first-child:hover {
  color: #5658dd;
  background: #eceded;
  transition: 0.25s;
}
.buttonGroup :last-child {
  color: #fff;
  background: #25282c;
}
.buttonGroup :last-child:hover {
  color: #5658dd;
  background: #eceded;
  transition: 0.25s;
}
