.app {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
  background: #dcdcdc;
}

.navBar {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  justify-content: center;
  background: #8888;
}


.app__content {
  background-color: #0e3828;

}