.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.app__content {
  flex: 1 0 auto;
  width: -webkit-fill-available;
  background: linear-gradient(180deg, #000032, #0000a0);
  box-shadow: 16px 14px 20px #0000008c;
  height: 100%;
}

.content_wrap {
  height: 100vh;
  flex: 1;
}
